/* Initial Styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
    scroll-behavior: smooth;    
}

ul{
    list-style: none;
}
hr {
    width: 100%;
}
section{
    position: relative;
    min-height: 100vh;
}

/* <=================================== nav-bar styling ====================================> */
.navbar{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 60px;
    padding-left: 4rem;
    padding-top: 15px;
    background: hsla(0, 0%, 9%, 0.7);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}
.logo{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #e0d7d8;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
.logo span{
    color: #FF1847;
}
.elements{
    display: inline;
    margin-left: 8rem;
}
.elements li{
    display: inline;
}
.elements li a{
    margin: 0px 30px;
    color: #FAF9F6;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}
.navbar .socials{
    position: relative;
    display: inline;
    left: 8rem;
}
.socials a{
    font-size: 22px;
    color: #FAF9F6;
    text-decoration: none;
    margin-left: 20px;
    transition: all ease 0.3s;
}
.elements li a:hover,.elements li a:focus{
    border-bottom: 3px solid #FF1847;
    margin: 0px 30px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.socials a:hover{
    font-size: 22px;
    color: #147ec4cc;
    text-decoration: none;
    cursor: pointer;
}

/* <=================================== main-content styling ====================================> */
#main{
    background-image: url(../images/Background1.png);
    background-size:cover; 
    width: 100%;
    height: 100vh;
}
.main-container{
    position: relative;
}
.main-content{
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translate(-50%,20%);
    max-width: 800px;
    text-align: center;
}
.main-img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 6px;
}
.designation{
    color: #c4cbea;
    font-weight: 400;
    font-size: 0.9rem;
}
.name{
    color: #FF1847;
    font-weight: 700;
    font-size: 1.6rem
}
.main-content strong{
    display: block;
    color: #e0d7d8;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 8px auto;
}
.main-content h1{
    font-size: 3rem;
    line-height: 3.4rem;
    margin-top: 4px;
    color: #3b3233;
}
.main-content p{
    color: #ffffff;
}
.main-content a{
    display: inline-block;
    margin-top: 13px;
    text-decoration: none;
    width: 180px;
    padding-top: 12px;
    height: 45px;
    border-radius: 15px;
    background-color: #FF1847;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
}
.main-content a i{
    padding-left: 15px;
}
/* <=================================== about-me styling ====================================> */
#about-me{
    background-color: #F5F5F5;
}
.description{
    top: 70px;
    left: 120.5px;
    position: absolute;
    max-width: 1200px;
}
#about-me strong{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 8px;
    color: #8d94b4;
}
.about-text{
    max-width: 90%;
    margin-left: 475px;
}
.about-text h3{
    font-size: 3rem;
    line-height: 3.4rem;
    color: #272727;
    font-weight: 600;
    margin-bottom: 20px;
}
.about-text p{
    color: #1a1a1a;
    margin-bottom: 20px;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.secondary-image{
    height: 500px;
    width: 424px;
    margin-top: 30px;
    margin-right: 50px;
    float: left;
}
.about-text a{
    display: inline-block;
    margin-top: 13px;
    text-decoration: none;
    width: 180px;
    text-align: center;
    padding-top: 12px;
    height: 45px;
    border-radius: 15px;
    background-color: #FF1847;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
}
.about-text a i{
    padding-left: 15px;
}
/* <=================================== Portfolio styling ====================================> */
.portfolio{
    background-color: #3b3233;
    background-size:cover;
    min-height: auto;
    padding: 40px 50px 50px;
}
.portfolio strong{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 8px;
    color: #8d94b4;
    text-align: center;
    margin-bottom: 3rem;
    display: block;
}
.education{
    display: inline-block;
    width: 31.1%;
    text-align: left;
}
.experience{
    display: inline-block;
    width: 60.5%;
    position: absolute;
    margin-left: 48px;
}
.portfolio-column .title{
    font-size: 1.6rem;
    font-weight: 700;
    color: #c2b9b9bb;
    margin: 0 0 1.5rem 2rem;
}
.portfolio-column .portfolio-box{
    border-left: 0.2rem solid #FF1847;
}
.portfolio-box .portfolio-content{
    padding-left: 2rem;
}
.portfolio-images img{
    height: 200px;
    width: 300px;
    margin: 0px 60px;
}
.portfolio-content .content{
    padding: 1rem;
    border: 0.2rem solid #FF1847;
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}
.portfolio-content .content .year{
    font-size: 1.2rem;
    color: #FF1847;
    padding-bottom: 0.5rem;
}
.portfolio-content .content i{
    padding-right: 0.5rem;
}
.portfolio-content .content h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(211, 178, 142);
}
.portfolio-content .content p{
    font-size: 0.9rem;
    padding-top: 0.5rem;
    color: #F5F5F5;
}
.portfolio-content .content .company, .portfolio-content .content p i, .portfolio-content .content .cgpa{
    color: rgb(53, 168, 129);
    font-weight: bolder;
}
  
/* <=================================== Skills styling ====================================> */
  #skills{
    background-color: #F5F5F5;
}
  .skills-heading{
    padding-top: 2rem;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 8px;
    text-align: center;
    color: #8d94b4;
  }
  .skills-container{
    padding: 20px;
  }
  .skills-container table{
    border-spacing: 3rem;
  }
  .skills-container strong{
    color: #FF1847;
  }
  .skill-box{
    height: 300px;
    padding: 1rem;
    text-align: center;
    border-radius: 0.6rem;
    border: 2px solid #FF1847;
  }
  .skill-box p{
    text-align: left;
  }
  .skill-name h3{
    padding-bottom: 10px;
  }
  .icon{
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 20px;
    gap: 1rem;
  }
   /* <=================================== projects styling ====================================> */
 #projects{
    background-color: #F5F5F5;
 }
 .project-contents{
    padding: 70px 100px;
 }
 .project-info img{
    width: 300px;
    height: 300px;
    float: left;
    padding-bottom: 20px;
 }
 .project-container table tr td{
    padding-right: 10px;
 }
 .project-info{
    text-align: center;
    gap: 1.5rem;
    border-radius: 0.6rem;
    border: 2px solid #FF1847;
    padding: 2rem;
 }
 .project-info p{
    text-align: left;
    padding-top: 20px;
 }
 .project-info a{
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    width: 180px;
    text-align: center;
    padding-top: 12px;
    height: 45px;
    border-radius: 15px;
    background-color: #FF1847;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
 }
 .project-info a i{
    padding-left: 10px;
 }
  /* <=================================== Contact styling ====================================> */
  #contact{
    background-color: #272727;
  }
  .contact-heading{
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 8px;
    color: #8d94b4;
 }
  .contact-container{
    padding: 70px 60px;
    position: absolute;
 }
  .contact-details img{
    height: 500px;
    width: 333px;
    margin-top: 30px;
    margin-right: 50px;
    position: absolute;
    float: left;
    top: 100px;
 }
 .contact-info{
    max-width: 1200px;
    margin-top: 150px;
    margin-left: 400px;
 }
 .email-button{
    display: inline-block;
    margin-top: 13px;
    text-decoration: none;
    width: 250px;
    text-align: center;
    padding-top: 12px;
    height: 45px;
    border-radius: 15px;
    background-color: #FF1847;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 40px 335px;
 }
 .email-button i{
    padding-left: 10px;
 }
 .contact-info p{
    color: #e0d7d8
 }
 .contact-info .socials{
    display: block;
    margin-left: 375px;
 }
 /* <=================================== footer styling ====================================> */
 .portfolio-footer {
    background-color: #100f0f;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
  }